<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.oa.dao.attendance.AttendanceMapper">

	<!-- 考勤列表 -->
	<select id="attendancelist" resultType="Attendance">
	  SELECT a.id, a.record_date, (SELECT NAME FROM USER WHERE id = a.user_id) AS userName, a.amount, a.leave, a.absenteeism, a.vacation, a.realamount
      FROM attendance AS a
	</select>
</mapper>